<html>
<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %> &nbsp;&nbsp;
      URL: <%= link.url   %> &nbsp;&nbsp;
      Tag: <%= link.tags %>
    </li>
  <% end %>
</ul>
</html>
