<html>
<head><title>Bookmark Manager</title>
  <link href="http://assets.makersacademy.com/images/favicons/favicon-16x16.png"
  rel="icon" sizes="16x16" type="image/png">
  <link rel="stylesheet" type="text/css" href="<%= url('/normalize.css') %>">
  <link rel="stylesheet" type="text/css" href="<%= url('/main.css') %>">
</head>
<body>
<div id="main">
<h1> User signup </h1>
<form action='/register' method='POST' >
  Email:   <input type="text" name="email" /><br /><br />
  Password:   <input type="text" name="password" /><br /><br />
  Confirm password:   <input type="text" name="password_confirmation" /><br /><br />
  <input type="submit" value="Sign up" />
</form>
</div>
</body>
</html>
